
body {
  background-image: url('./assets/tlo.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.App-image {
  width: 400px;
  height: 350px;
}

.App-textField {
  width: 100%;
}

.App-slider {
  width: 100%;
}

.App-grid1 {
  margin-top: '100px'
}

.App-div {
  flex-grow: 1;
  margin-top: '20px';
}
